/*--------------------------------------------------
# Grid System
---------------------------------------------------*/

#page {
    visibility: visible
}

.hide_desktop {
    display: none
}

.wrapper-small {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;

}

.wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;

}

.wrapper-full {
    width: 100%;
    margin-bottom: 100px;
}

.section {
    width: 100%;
    margin-bottom: 100px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.section.fullscreen {
    height: 100%;
    margin-bottom: 0;

}

.section.has-bg {
    margin-bottom: 350px;
    padding-top: 100px;
    margin-top: 350px;
}

.page-content .section:last-child {
    margin-bottom: 0
}

.send-back {
    z-index: -2
}


.section.send-back {
    z-index: -9
}

.sec-bg-ov {
    position: absolute;
    width: 25%;
    top: 0;
    z-index: -2;
}

.sec-bg-ov:nth-child(1) {
    left: 0;
    height: calc(100% + 100px);
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}

.sec-bg-ov:nth-child(2) {
    left: 25%;
    height: calc(100% + 200px);
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
}

.sec-bg-ov:nth-child(3) {
    left: 50%;
    height: calc(100% + 300px);
    -webkit-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    transform: translateY(-150px);
}


.sec-bg-ov:nth-child(4) {
    left: 75%;
    height: calc(100% + 200px);
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
}

.wrapper:after,
.wrapper-small:after,
.wrapper-full:after,
section:after {
    display: table;
    clear: both;
    content: '';
}

.c-col-1,
.c-col-2,
.c-col-3,
.c-col-4,
.c-col-5,
.c-col-6,
.c-col-7,
.c-col-8,
.c-col-9,
.c-col-10,
.c-col-11,
.c-col-12 {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.no-gap {
    padding-left: 0;
    padding-right: 0;
}

.c-col-6 {
    width: 50%;
}

.c-col-4 {
    width: 33.333333%
}

.c-col-8 {
    width: 66.666666%
}

.c-col-3 {
    width: 25%;
}

.c-col-2 {
    width: 16.6666666%
}

.c-col-5 {
    width: 41.666666%
}

.c-col-10 {
    width: 83.333333%
}

.c-col-9 {
    width: 75%
}

.c-col-12 {
    width: 100%;
}

.no-margin {
    margin-bottom: 0 !important
}

.align-center {
    text-align: center
}

@media only screen and (max-width: 576px) {

    .wrapper {
        max-width: 90%;
        margin-bottom: 25px;
    }

    .wrapper-small {
        max-width: 90%;
        margin-bottom: 25px;
    }

    .wrapper-full {
        margin-bottom: 100px;
    }

    .c-col-1,
    .c-col-2,
    .c-col-3,
    .c-col-4,
    .c-col-5,
    .c-col-6,
    .c-col-7,
    .c-col-8,
    .c-col-9,
    .c-col-10,
    .c-col-11,
    .c-col-12 {
        width: 100%;
        margin-bottom: 35px;
    }

    .fit-col {
        margin: 0;
    }

}


@media only screen and (min-width: 576px) {
    .wrapper {
        max-width: 90%;
    }

    .wrapper-small {
        max-width: 90%;
    }

}

@media only screen and (min-width: 768px) {
    .wrapper {
        max-width: 90%;
    }

    .wrapper-small {
        max-width: 88%;
    }

}

@media only screen and (min-width: 992px) {
    .wrapper {
        max-width: 1014px;
    }

    .wrapper-small {
        max-width: 790px;
    }

}

@media only screen and (min-width: 1200px) {
    .wrapper {
        max-width: 1274px;
    }

    .wrapper-small {
        max-width: 950px;
    }

}

@media only screen and (min-width: 1600px) {
    .wrapper {
        max-width: 1500px;
    }

    .wrapper-small {
        max-width: 1200px;
    }

}

.section.parallax-bg {

    width: 100%;
    z-index: -1;
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    overflow: hidden;

}

