/*------------------------------------------------------------------
## Seperator
-------------------------------------------------------------------**/

.a-seperator {
    display: block;
    width: 0%;
    height: 1px;
    background: #fff;
    float: left;
}

