/*------------------------------------------------------------------
## Services - Style 1
-------------------------------------------------------------------**/

.a-services.style_1 {
    width: 100%;
    height: 100vh;
}

.services-wrapper {
    width: 50%;
    height: 100%;
    display: block;
    float: left;
    position: relative
}

.a-services.style_1 .service {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    visibility: hidden;


}

.a-services.style_1 .service.active {
    visibility: visible
}

.a-services.style_1 .service-work {
    display: block;
    float: left;
    width: 0%;
    height: 100%;
    position: relative
}

.a-services.style_1 .service-work-image,
.a-services.style_1 .service-work-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: none
}

.a-services.style_1 .service-wrapper {
    display: block;
    position: absolute;
    left: 0;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.a-services.style_1 .service-title {
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -0.06em;
    margin-bottom: 50px;
    -webkit-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    transform: translateX(-20%);
    line-height: 120px;
}

.a-services.style_1 .service-title .tit-line {
    overflow: hidden;
}

.a-services.style_1 .service-work-meta {
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    padding: 50px;
    background: #191b1d;
}

.a-services.style_1 .service-work-meta a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.a-services.style_1 .service-work-sub {
    font-size: 16px;
    line-height: 30px;
    color: hsla(0, 0%, 100%, .2);
    display: block;
    margin-bottom: 10px;
}

.a-services.style_1 .service-work-title {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.a-services.style_1 .service-content {
    font-size: 16px;
    line-height: 28px;
    display: block;
    width: 80%;
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(25, 27, 29, .6);
}


.service-images {
    display: block;
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
    z-index: -1
}



.service-images .s-imgo,
.service-images .s-imgo img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
}


