/*------------------------------------------------------------------
## Single Post Page
-------------------------------------------------------------------**/

.post-header {
    width: 100%;
    position: relative;
}

.post-image,
.post-image img {
    width: 100%;
    height: 50vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}


.post-image {
    position: relative;
}

.post-metas {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.post-date,
.post-category {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    color: hsla(0, 0%, 100%, .4);
}

body.light .post-cat,
body.light .post-date,
body.light .post-category {
    color: rgba(25, 27, 29, .6)
}


.post-details-wrapper {
    margin-top: 35px;
}

.post-category::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 1px;
    background: hsla(0, 0%, 100%, .2);
    vertical-align: middle;
    margin: -1px 10px 0 10px;
}

body.light .post-category::before {
    background: rgba(25, 27, 29, .6)
}

.post-details-wrapper {
    margin-top: 35px;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden
}

.post-details-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 1px;
    background: hsla(0, 0%, 100%, .2);
}

body.light .post-details-wrapper::after {
    background: rgba(25, 27, 29, .6)
}

.next-post {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    padding-top: 30px;
}

.next-post a {
    text-decoration: none;
}

.next-post::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: hsla(0, 0%, 100%, .2);
}

body.light .next-post::before {
    background: rgba(25, 27, 29, .6)
}

h5.np-text {
    color: rgba(25, 27, 29, .6)
}

body.dark h5.np-text {
    color: hsla(0, 0%, 100%, .2);
}

h3.next-post-title {
    max-width: 60%;
}

