<head>
    <meta charset="utf-8">

    <!-- Page Title -->
    <title>{{ title }}</title>
    <!--/ Page Title -->

    <meta name="author" content="Xuan Son Nguyen">
    <meta name="description" content="Portfolio">
    <meta name="keywords" content="portfolio, agency, personal, creative">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link href="../css/plugins.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="shortcut icon" href="../img/site-logo3.png" />
    <link rel="apple-touch-icon" href="../img/site-logo3.png" />
    <!--/ Favicons -->
</head>