    <!--Page Loader-->
    <div data-duration="5" class="a-page-loader" data-layout="light">

        <span class="apl-background"></span>

        <!--Loader Percentage (Don't Touch)-->
        <div class="apl-count"></div>
        <!--Loader Percentage (Don't Touch)-->

    </div>
    <!--/Page Loader-->

    <!--Page Transitions-->
    <div class="a-page-transitions" data-layout="light">

        <!--Transition Background (Don't touch)-->
        <span class="apt-bg"></span>
        <!--/Transition Background (Don't touch)-->

        <!--Transition Text-->
        <div class="trans-text">Loading, please wait...</div>
        <!--Transition Text-->

    </div>
    <!--/Page Transitions-->

    <!-- Mouse Cursor -->
    <div data-dark-circle="rgba(25,27,29,.6)" data-dark-dot="#191b1d" data-light-circle="hsla(0,0%,100%,.2)"
        data-light-dot="#fff" id="mouseCursor">
        <div id="cursor"></div>
        <div id="dot"></div>
    </div>
    <!-- /Mouse Cursor -->