    <script src="js/jquery.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/barba.js"></script>
    <script src="js/locomotive-scroll.min.js"></script>
    <script src="js/gsap.js"></script>
    <script src="js/scripts.js"></script>
